    * {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
body{
    background-image: url(/img/background01.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}
header{
    color: white;
    position: relative;
    left: 150px;
    top: 60px;
}
h1{
    font-size: 4em;
}